<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-1 mb-md-4">
    <a class="navbar-brand" href="/">Bigevents</a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new-event">New event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/filter/Sightseeing">Sightseeing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/filter/Music%20%26%20Stage%20Shows">Music & Stage Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/filter/Shopping%2C%20Wining%20%26%20Dining">Shopping, Wining & Dining</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/filter/Lifestyle%20%26%20Scene">Lifestyle & Scene</a>
        </li>
      </ul>
    </div>
  </nav>
</header>